<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <%= title %>
  <script>

var url = 'https://apk.kosungames.com/app-wmcp-release.apk'

    ! function () {
    var d, a = function (a) {
            var b = plus.downloader.createDownload(a, {
                method: "GET"
            });
            b.addEventListener("statechanged", e), b.start(), c = 0, d = plus.nativeUI.showWaiting("正在下载，请稍候", {
                back: "none"
            })
        },
        b = function (a) {
            isStart = !1, plus.runtime.install(a.filename, {
                force: !0
            }, function () {}, function () {})
        },
        c = 0,
        e = function (a) {
            switch (a.state) {
                case 1:
                    break;
                case 2:
                    break;
                case 3:
                    var f = parseInt(100 * a.downloadedSize / a.totalSize);
                    f > c && (c += 3, d.setTitle("已下载 " + f + "%"));
                    break;
                case 4:
                    plus.nativeUI.closeWaiting(), b(a)
            }
        };
        document.addEventListener('plusready', function () {
        a(url)
        })
}();

  </script>
</body>

</html>